body{
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/beanstalk-dark.png");
}

.button {
  border: 1px solid white;
  color: white;
  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

.navigationBar{
  border: 1px solid white;
  padding: 10px;
}
.createNewMovie{
  border: 1px solid white;
  padding: 10px;
  opacity: 0.9;
  background-color: #0a53be;
  color: white;
}
.title {
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.detailTitle{
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.movie {
  border: 1px solid white;
  padding: 10px;
}
.movieImage {
  background-image: url("");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}
.detailImage {
  background-image: url("");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
}
.seats {
  color: white;
}
.detailSeats {
  color: white;
}